.navLink {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--main-dark);
  font-weight: 600;
  transition: 175ms color ease;
}

.navLink:focus,
.navLink:hover,
.navLink.highlighted {
  color: var(--accent-orange);
}

@media (max-width: 475px) {
  .navLink {
    padding: 12px;
  }
}
