.link {
  display: inline-block;
  text-decoration: none;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(--main-dark);
  background-color: #f6f6f6;
  transition: 175ms background-color ease;
}

.link:hover,
.link:focus {
  background-color: var(--accent-dark-interactive);
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100%;
  max-width: 256px;
  height: 100%;
  max-height: 256px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 1;
}

.cardDescription {
  width: 100%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  align-items: flex-start;
}

.author {
  padding-top: 4px;
  color: var(--secondary-dark);
  font-weight: 500;
}

.title {
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
}

.price {
  padding-top: 12px;
  font-size: 1.6em;
  line-height: 2em;
  font-weight: 600;
}

@media (max-width: 475px) {
  .image {
    max-height: 384px;
    max-width: 384px;
  }
}
