.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0;
  width: 100%;
}

.numberLink {
  font-size: 1.8rem;
  line-height: 2.4rem;
  color: var(--main-dark);
  transition:
    175ms color ease,
    175ms font-weight ease;
  font-weight: 500;
  text-decoration: none;
}

.numberLink:hover,
.numberLink:focus {
  color: var(--acent-orange);
  font-weight: 700;
}

.numberLink.active {
  color: var(--accent-orange);
}

.arrow {
  width: 24px;
  height: 24px;
}
.arrow.disabled {
  opacity: 0.5;
}

.pagination {
  display: flex;
  flex-direction: row;
  column-gap: 24px;
}

.numberContainer {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
