@tailwind base;

@tailwind components;

@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --main-dark: #2f2f31;
  --secondary-dark: #6f6d6d;
  --accent-green: #96b059;
  --accent-orange: #df783c;
  --accent-orange-interactive: #c3591b;
  --accent-dark-light: #f4f4f4;
  --accent-dark: #f0f0f0;
  --accent-dark-interactive: #dddbdb;
}

main {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

@media (max-width: 768px) {
  main {
    padding: 0 16px;
  }
}
