.booksGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: flex-start;
  row-gap: 36px;
  padding: 48px 0;
  width: 100%;
  margin: 0 auto;
}

.booksGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 12px;
  row-gap: 12px;
  width: 100%;
}

.empty {
  padding: 120px 48px;
}

.empty h2 {
  font-size: 2rem;
  line-height: 2.4rem;
  text-align: center;
}

@media (max-width: 768px) {
  .booksGridContainer {
    padding: 24px 0;
  }

  .booksGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 475px) {
  .booksGrid {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 100%;
  }
}
